{% extends 'base.html.twig' %}

{% block title %}Recette {{ recipe.title }}! ✅{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Recette <span class="badge text-bg-secondary">{{ recipe.title}}! ✅</span></h1>
  
        <h2>Description de la recette</h2>
        <span> {{ recipe.content }} </span>
    </div>
{% endblock %}