{% extends 'admin/admin.html.twig' %}

{% block title %}Crée ta categorie  !!{% endblock %}

{% block body %}

<h1>Crée ta categorie!!! </h1>

{{ form_start(form)}}
<div class="d-flex">
    {{form_row(form.name)}}
</div>
{{ form_end(form)}}

{% endblock %}